<!DOCTYPE html>
<html lang="zh-CN">
  <head>                  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ly's blog</title>
    <link href="{$PUBLIC_PATH}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$PUBLIC_PATH}/css/index.css" rel="stylesheet">
    <style type="text/css">
    </style>
  </head>
  <body> 
      <nav class="navbar navbar-inverse navbar-fixed-top">       
            <div class="container">
            <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img src=""></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a herf="__APP__/Home/">首页</a></li>
                                    <foreach name="CLASS" item="vo" key="k">
                                          <li><a href="__APP__/Home/ChangeClass/index/class/{$vo}">{$vo}</a></li>
                                    </foreach>
                    </ul>              
            </div>
            </div>
      </nav>
      <div class="container">
          <div class="row">
              <div  id="main-content-left" class="col-md-3 ">
                  <div class="master-info">
                        <img class="master-img"src="{$PUBLIC_PATH}/img/head_log.jpg">
                        <p class="text-center master-name"><a href="#">l不要y</a></p>
                        <p class="text-center master-email"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>:1083709608@qq.com</p>
                        <p class="text-center master-email"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>:<a href="">github.com/liyang</a></p>
                        <div>
                              <h3 class="master-sum">333<br><small>文章数</small></h3>
                              <h3 class="master-read">444<br><small>阅读量</small></h3>
                        </div>

                        <div class="max-list">
                          <ul class="list-unstyled ">
                              <foreach name="READ_RANK" item="vo">
                                  <li class="max-list-col"><span class="max-list-ico"></span><a class="max-list-a" href="__APP__/Home/ShowArticle/index/id/{$vo.id}">{$vo.title}</a>&nbsp;&nbsp;&nbsp;<span class="badge">{$vo.read_sum}</span></li>
                              </foreach>
                        </ul>
                      </div>

                      <div class="friend-link">
                          <ul class="list-unstyled">
                                <foreach name="LINK_DATA" item="vo">
                                    <li><span class="glyphicon glyphicon-link" aria-hidden="true">&nbsp;<a href="{$vo.link}">{$vo.name}</a></li>
                                </foreach>
                          </ul>
                  </div>

                  </div>
                 
              </div>
              <div id="main-content-right" class="col-md-8  col-md-offset-1">
		
                <foreach name="ARTICLES" item="vo">
                  <div class="content">
                        <div class="content-top" style="background-color:#{$vo.color};">
                              <h3 class="text-center">{$vo.C}</h3>
                              <p class="text-center"><strong>{$vo.T_time}</strong></p>
                       </div>
                      <div class="content-body">
                              <p class="text-center content-title"><a href="__APP__/Home/ShowArticle/index/id/{$vo.id}">{$vo.title}</a></p>
                              <div class="content-other">
                                          <ul class="list-inline">
                                                <li><h4><span class="glyphicon glyphicon-time" aria-hidden="true">时间：{$vo.time}</span></h4></li>
                                                <li><h4><span class="glyphicon glyphicon-tag" aria-hidden="true">分类：{$vo.class}</span></h4></li>
                                          </ul>
                              </div>
                              <p class="content-m"><strong>{$vo.description}</strong></p>
                      </div>
                      <div class="content-foot">
                              <ul class="list-inline">
                                       <li><span class="glyphicon glyphicon-comment" aria-hidden="true">：<span class="label label-info" >*</span></span></li>
                                      <li><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">：<span class="label label-warning">*</span></span></li>
                                       <li><span class="glyphicon glyphicon-search" aria-hidden="true">：<span class="label label-success">{$vo.read_sum}</span></span></li>
                                       
                               </ul>
                      </div>
                    </div>
		</foreach>

              </div>
          </div>
      </div>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="{$PUBLIC_PATH}/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
