<!DOCTYPE html>
<html>
<head>
	<title>文章列表</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
    <!-- bootstrap -->
    <link href="{$PUBLIC_PATH}/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="{$PUBLIC_PATH}/css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link href="{$PUBLIC_PATH}/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="{$PUBLIC_PATH}/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="{$PUBLIC_PATH}/css/elements.css" />
    <link rel="stylesheet" type="text/css" href="{$PUBLIC_PATH}/css/icons.css" />

    <!-- libraries -->
    <link href="{$PUBLIC_PATH}/css/lib/font-awesome.css" type="text/css" rel="stylesheet" />
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="{$PUBLIC_PATH}/css/compiled/tables.css" type="text/css" media="screen" />

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

    <!-- navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <button type="button" class="btn btn-navbar visible-phone" id="menu-toggler">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <a class="brand" href="__APP__/Admin/"><img src="{$PUBLIC_PATH}/img/logo.png" /></a>

            <ul class="nav pull-right">   
                <li class="settings hidden-phone">
                    <a href="__APP__/Admin" role="button">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="settings hidden-phone">
                    <a href="__APP__/Admin/Exit/" role="button">
                        <i class="icon-share-alt"></i>
                    </a>
                </li>
            </ul>            
        </div>
    </div>
    <!-- end navbar -->

    <!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li >
                <a href="__APP__/Admin">
                    <i class="icon-home"></i>
                    <span>首页</span>
                </a>
            </li>
            <li >
                
                <a class="dropdown-toggle" href="#">
                    <i class="icon-envelope"></i>
                    <span>留言</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu ">
                    <li ><a href="__APP__/Admin/MessageList/">留言列表</a></li>
                    <li><a href="__APP__/Admin/ReplyMessage">回复留言</a></li>
                </ul>
            </li>  
            <li class="active">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-th-large"></i>
                    <span>文章</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu active">
                    <li><a href="__APP__/Admin/NewArticle">新建文章</a></li>
                    <li><a href="__APP__/Admin/ArticleList" class="active">文章列表</a></li>
                    <li><a href="__APP__/Admin/ArticleClass">文章分类</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-cog"></i>
                    <span>系统</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="/webapp/index.php/Admin/CreateNewProduct">首页</a></li>
                    <li><a href="/webapp/index.php/Admin/ProductList">我的</a></li>
                    <li><a href="/webapp/index.php/Admin/HomeProducts">其它</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-share-alt"></i>
                    <span>退出</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="/webapp/index.php/Admin/Exit/">安全退出</a></li>
                    <li><a href="/webapp/index.php/Admin/Exit/index/state/and">重新登录</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end sidebar -->


	<!-- main container -->
    <div class="content">
        {$tip}
        <div class="container-fluid">
            <div id="pad-wrapper">
                
                <!-- products table-->
                <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
                <div class="table-wrapper products-table section">
                    <div class="row-fluid head">
                        <div class="span12">
                            <h4>文章列表</h4>
                        </div>
                    </div>
                        <ul class="nav nav-tabs">
                            <foreach name="CLASS_DATA" item="vaule" key="k">
                                <if condition="$CLASS_ACT eq $k" >
                                    <li class="active">
                                        <a href="__APP__/Admin/ArticleList/doarticlelist/state/showclass/class/{$vaule.name}/key/{$k}">{$vaule.name}</a>
                                     </li>
                                <else />
                                    <li ><a href="__APP__/Admin/ArticleList/doarticlelist/state/showclass/class/{$vaule.name}/key/{$k}">{$vaule.name}</a></li>
                                </if>
                            </foreach>
                        </ul>
                    <div class="row-fluid">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="span2">
                                        ID
                                    </th>
                                    <th class="span3">
                                        标题
                                    </th>
                                    <th class="span3">
                                        分类
                                    </th>
                                    <th class="span3">
                                        时间
                                    </th>
                                    <th class="span2">
                                     操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <foreach name="ARTICLE_DATA" item="vaule" key="k">
                                   <tr>
                                    <td>
                                        {$vaule.id}
                                    </td>
                                    <td>
                                        {$vaule.title}
                                    </td>
                                    <td >
                                        {$vaule.class}
                                    </td>
                                    <td>
                                        {$vaule.time}
                                    </td>
                                    <td>
                                    <a href="__APP__/Admin/ArticleList/doarticlelist/state/dele/id/{$vaule.id}">删除</a>
                                    </td>
                                </tr>
                                 
                              </foreach>
                                
                                
                            </tbody>
                        </table>
                         <div class="row ctrls">
                            <div class="pagination pagination-centered pagination-large">
                                <ul>
                                    <li><a href="#">&#8249;</a></li>
                                    <for start="1" end="$sum">
                                        <if condition="$act eq $i">
                                            <li><a class="active" href="__APP__/Admin/MessageList/domessagelist/state/show/id/{$i}">{$i}</a></li>
                                        <else />
                                            <li><a href="__APP__/Admin/MessageList/domessagelist/state/show/id/{$i}">{$i}</a></li>
                                        </if>
                                    </for>
                                    <li><a href="#">&#8250;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end products table -->
            </div>
        </div>
    </div>
    <!-- end main container -->

	<!-- scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{$PUBLIC_PATH}/js/bootstrap.min.js"></script>
    <script src="{$PUBLIC_PATH}/js/theme.js"></script>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>
